@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: 'Anton', sans-serif;
}

/* Aca comienza la parte superior */
#seccion-caja-superior {
    position: relative;
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

#tres-lineas {
    position: absolute;
    left: 10px;
    height: 30px;
    width: auto;
    margin: 0;
}

#seccion-buscar {
    position: absolute;
    left: 80%;
    
    width: auto;
    margin: 0;
}

#boton-buscar {
    font-family: 'Anton', sans-serif;
    height: 33px;
    border-radius: 6px;
    border: none;
}

#buscar-texto {
    font-family: 'Anton', sans-serif;
    height: 25px;
    border-radius: 6px;
}

#logo {
    position: absolute;
    height: 50px;
    left: 43%;
    /* Este valor parece incorrecto, deberías ajustarlo */
}

/* Aca comienza la parte de articulos */

.container-articulos {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.box {
    width: 240px;
    height: 350px;
    border-radius: 1rem;
    background: #605dff;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: opacity 0.6s ease;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.container-articulos:hover>.box:not(:hover) {
    opacity: 0.5;
}

.etiqueta-producto {
    margin: 0%;
}

/* Media queries para diferentes tamaños de pantalla */
@media only screen and (max-width: 768px) {

    /* Estilos para pantallas de hasta 768px de ancho */
    #seccion-buscar {
        left: 12px;
    }
}

@media only screen and (max-width: 480px) {

    /* Estilos para pantallas de hasta 480px de ancho */
    .container-articulos {
        padding: 10px;
    }

    .box {
        width: 100%;
        /* O cualquier otro estilo que desees aplicar */
    }
}