/* ingresarUsuario.html */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
        font-family: 'Anton', sans-serif;
        background: url(../assest/imgPagina/PhotoRoom-20240611_143556.png);
        background-size: 550px;
        background-color: #8000f8;
        background-position: 100px;
        }
#header{
    display: flex;
    align-items: center;
    font-size: 200%;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 0px 100px #ffffff inset,0px 0px 50px #ffffff;
    border-radius: 50px;
}
#header img{
    width: 300px;
}
.inputInicio{
	padding:7px;
	border-radius:6px;
	outline:none;
	border:1px dotted #605dff;
	font-size:1em;
	text-align:center;
	color:#605dff;
    font-family: 'Anton', sans-serif;
}
.caja-boton{
	margin-top:10px;
	text-align:center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}
.caja-nombre{
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
	text-align:center;
    margin: 40px 0px 0px 0px;
    background-color: transparent;
  
}
.caja-contraseña{
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
	text-align:center;
    background-color: transparent;
    
}
.mensaje{
    display: flex;
    justify-content: center;
    height: 30px;
    align-content: center;
    padding: 20px;
}
#botonIngresar{
    background-color: #8000f8;
    font-family: 'Anton', sans-serif;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px #ffffff inset,0px 0px 50px #ffffff;
    border-radius: 5px ;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    color: #ffffff;
}
#botonIngresar:hover{
    background-color: #ffffff;
    color: #8000f8;

}
/* crear cuenta 👇 */
.botonCrearCuenta:hover{
    background-color: #ffffff;
    color: #8000f8;
}
.botonCrearCuenta{
    background-color: #8000f8;
    font-family: 'Anton', sans-serif;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px #ffffff inset,0px 0px 50px #ffffff;
    border-radius: 5px ;
    width: 200px;
    margin: 10px;
    color: #ffffff;
}
footer{
    color: #ffffff;
    position: absolute;
    top: 100vh;
    left: 0;
}


