/* ingresarUsuario.html */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
       
        font-family: 'Anton', sans-serif;
        background-color: #625bfe;
        }

      

.caja-boton{
	margin-top:30px;
	text-align:center;
    background-color: #625bfe;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}
.caja-nombre{
    
	text-align:center;
    margin: 120px 0px 0px 0px;
    background-color: #625bfe;
  
}
.caja-contraseña{
    margin-top:30px;
	text-align:center;
    background-color: #625bfe;
    
}
#botonIngresar{
    background-color: #605dff;
    font-family: 'Anton', sans-serif;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px ;
    width: 200px;
    margin: 10px;
    cursor: pointer;
}
#botonIngresar:hover{
    background-color: #9b99f9;
    color: #ffffff;

}
.botonCrearCuenta:hover{
    background-color: #9b99f9;
    color: #ffffff;
}
.botonCrearCuenta{
    background-color: #605dff;
    font-family: 'Anton', sans-serif;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px ;
    width: 200px;
    margin: 10px;
}
.inputInicio{
	padding:7px;
	border-radius:6px;
	outline:none;
	border:1px dotted #605dff;
	font-size:1em;
	text-align:center;
	
	color:#605dff;
    font-family: 'Anton', sans-serif;
}
#imagenLogo{
    display: flex;
    justify-content: center;
}
h1{
    text-shadow: 5px 5px black;
    text-align-last: center;
    color: red;
    font-size: 50px;
}
h2{
    flex-direction: column;
    display: flex;
    align-items: center;
}
h3{
    text-shadow: 5px 5px black;
    text-align-last: center;
    color: #625bfe;
    font-size: 30px;
}
/* crear cuenta 👇 */
